// colors

$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsla(85, 86%, 48%, 0.698);
$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);

// Resets and helpers
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Manrope:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
button {
  user-select: none;
}

body {
  background-color: $dark-grayish-blue;
  padding: 1.25rem;
  font-family: "Manrope", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 0.1px);
  text-align: center;
}

.container {
  background: $grayish-blue;
  position: relative;
  padding: 1.25rem 1.25rem 3rem;
  color: #fff;
  border-radius: 6px;

  h1 {
    color: $neon-green;
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 1.25rem;
    letter-spacing: 0.4rem;
  }
  p {
    font-size: 24px;
    color: $light-cyan;
    padding-bottom: 2rem;
    line-height: 1.5;
  }
  picture {
    img {
      background: $grayish-blue;
      position: relative;
    }
    &::before {
      content: "";
      position: absolute;
      width: 40%;
      height: 1px;
      background: $light-cyan;
      right: 1.25rem;
      bottom: 3.8rem;
      display: block;
      z-index: 100;
    }
    &::after {
      content: "";
      position: relative;
      width: 45%;
      height: 1px;
      background: $light-cyan;
      left: 0;
      bottom: 0.74rem;
      display: block;
    }
  }
  button {
    background-color: $neon-green;
    padding: 1rem;
    border: none;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    &:hover{  background-color: hsl(150, 59%, 54%);}
}
}

.credits{
    margin-top: 3rem;
    p{
        color:$light-cyan;
        letter-spacing: 2px;
        a{
            color: $neon-green;
            font-weight: 300!important;
        }
    }
}

// media queries

@media (min-width: 500px) {
    .container {
      max-width: 480px;
    }
  }
  